# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

#### Objectives:
  popular languages are-
  - Python
  - Scala
  - R language

Some of the popular languages that Data Scientists use are:
1. Python
2. Scala
3. R language

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. pandas
3. Matplotlib

|Data Science Tools|
|------------------|
|MATLAB|
|Tensorflow|
|Apache spark|

### Below are a few examples of evaluating arithmetic expressions in Python

In [9]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [10]:
#This will convert 200 minutes to hours by diving by 60
x=200
y=60
z=x/y
print("200 minutes in hours is",z)

200 minutes in hours is 3.3333333333333335

## Author
Sahil